.container {
  position: absolute;
  top: 85px;
  right: 160px;
  height: 200px;
  width: 200px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  border: 1px solid rgba(255, 255, 255, 0.29);
  border-radius: 5px;
  padding: 10px;
}

.container button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--highlight-color);
}

.loginModal {
  position: absolute;
  top: 85px;
  right: 160px;
  width: 200px;
  background: gray;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
}

.login {
  display: flex;
  align-items: center;
  gap: 2px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.questionModalContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionContent {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  padding: 10px;
  border-radius: 5px;
  gap: 20px;
}

.questionTitle {
  font-size: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.318);
  padding-bottom: 10px;
}

.questionContent p {
  font-size: 20px;
  line-height: 25px;
}
