.wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
  gap: 10px;
  padding-bottom: 20px;
}

.two {
  background-color: black;
}
